In [8]:
#Tuple : A built-n data type that helps create immutable sequence of values. TUPLE IS A ADDED ADVANTAGE IN PYTHON. 
tup_1=(1,2,"k",3,2)
print(tup_1)
print(tup_1[2])

# we can not assign values in tuple, eg tup[4]=5 wont be performed.
# when we create a single value tuple. put a comma or else python will take it as int, float or sstring
#eg, tup_1=(1,)

(1, 2, 'k', 3, 2)
k

In [9]:
#slicing: same as string
print(tup_1[0:2])

(1, 2)

In [10]:
#Index: to find the first occurence of element 
tup_1.index(2)

1

In [11]:
#count: Count the number of occurance of the element
tup_1.count(2)

2

In [17]:
#WAP TO COUNT NUMBER OF STUDENTS WITH THE "A" GRADE IN THE FOLLOWING TUPLE
tup_grade=("C","D","A","A","B","B","A")
tup_grade.count("A")

3