In [10]:
#SETS : Set is collection of unordered item i.e without index. 
#EACH COLLECTION MUST BE UNIQUE (not stored twice) and IMMUTABLE
#SET AS a whole is mutable, we can add and remove elements but its elements are immutable.
#we can not store list and dictionary is sets(mutable) rest tuple, int, string, float can be
#elements with hash values could be added as element

set_name={1,"value_String1",2.5,(2,3,4,5),2.5,1,2,5}
print(type(set_name))
print(set_name) #2.5 will not come twice and no order in output could be anywhere

<class 'set'>
{1, 2.5, 2, 5, (2, 3, 4, 5), 'value_String1'}

In [2]:
#HASABLE ::ANY OBJECT WHICH RETUENS A HASH VALUE.
print(hash(object))

8794344213555

In [3]:
#EMPTY SET
# null_set_name={} THIS WILL BECOME A DICTIONARY SO,
null_set=set()
print(type(null_set))

<class 'set'>

In [13]:
# set.add(el) : ADDS AN ELEMENT
set_name.add(5000)
print(set_name)

{1, 2.5, 2, 5, (2, 3, 4, 5), 5000, 'value_String1'}

In [14]:
#set.remove(el)
set_name.remove(2.5)
print(set_name)

{1, 2, 5, (2, 3, 4, 5), 5000, 'value_String1'}

In [15]:
#set.clear() : used to clear set
#set.pop() : used to pick any random value, couldbe any random value

In [19]:
#UNION : Combines both sets values and returns new
#set1.union(set2)
set1={1,2,3,4,5}
set2={3,4,5,6}
print(set1.union(set2))
print(set1.intersection(set2))
#orignal values would not be changed. 
print(set1)

{1, 2, 3, 4, 5, 6}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [20]:
#wap when you are given a list of subjects for students. assume one classroom is req for 1 subject. how many class req by all students.
subjects={"python", "java","python","javascripy","java","c++","phy","chem"}
print(len(subjects))

6

In [23]:
#WAP TO STORE 9 AND 9.0 AS DIFF VALUES
#1. storing as int and string
set5={9.0,"9"}
print(set5)

#tuple
tup=(9,9.0)
set6={tup}
print(set6)

{9.0, '9'}
{(9, 9.0)}