In [7]:
#Loops :: Used to repeat instructions. We check the condition and if it true we do the work and then again check the condtion until its false
#WHILE LOOP:
# while condtion:
#     some work   
#i.e it repeats the work until the while condition is true.

#we take a count variable so that while statement doesnt run infinite times. Because if the value returned is always true it will never stop.
#Iterators, variable used to iterate
#Iterations: running under the loop is iteration, i.e number of times under loop = num of iterations

In [14]:
#WAP TO PRINT NUMBER FROM 1 TO 10
"""i=1
while i<11:
    print(i)
    i+=1
print("loop ended") """

'i=1\nwhile i<11:\n    print(i)\n    i+=1\nprint("loop ended") '

In [20]:
#WAP T0 PRINT A MULTIPLICATION TABLE OF A NUMBER N
n=int(input("ENTER THE NUMBER : "))
print(n)
i=1
while i<11:
    print(n,"*",i,"=",i*n)
    i+=1
print("loop ended")

ENTER THE NUMBER :  4

4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
loop ended

In [12]:
#WAP TO PRINT NUMBERS OF LIST USING A LOOP

list_1=[1,4,9,16,25,36,49,64,81,100]
n=len(list_1)
i=0
while i<n:
    print(list_1[i])
    i+=1

#TRAVERSE: Means to travel from one to another element one by one

1
4
9
16
25
36
49
64
81
100

In [3]:
#SEARH A NUMBER N FROM THE TUPLE USING LOOP

tup_1=(1,4,9,16,25,36,49,64,81,100)
a=len(tup_1)
i=0
n=int(input("ENTER THE NUMBER :"))

while i<a:
    if n==tup_1[i]:
        print("FOUND IT AT POSITION : ",i)
    else:
        print("finding...")
    i+=1

ENTER THE NUMBER : 49

finding...
finding...
finding...
finding...
finding...
finding...
FOUND IT AT POSITION :  6
finding...
finding...
finding...

In [7]:
#WAP TO SUM ALL THE EVEN NUMBERS FROM 1 TO 100
sum=0
i=0
while i<101:
    if i%2==0:
        sum=sum+i
    i+=1
print(sum)

2550

In [8]:
#BREAK AND CONTINUE
#BREAK : USED TO TERMINATE THE LOOP WHEN ENCOUNTERED
#CONTINUE: TERMINATES EXECUTION OF THE CURRENT EXECUTION AND CONTINUES THE LOOP WITH NEXT ITERATION

In [9]:
#FOR LOOPS: LOOPS USED FOR SEQUENTIAL TRAVERSAL. For traversing list,string,tuples etc.
#for element in list: 
     #some work
#options else : used mainly with break

In [33]:
#WAP TO FIND A NUMBER IN A TUPLE USING LOOP:
tup_1=(1,4,9,16,25,36,49,64,81,100,4)
num=int(input("enter the number to be searched : "))
i=0
for el in tup_1:
    i+=1
    if el==num:
        print("found at position ",i)
        break
        
    
else:
    print("not found")

enter the number to be searched :  3

not found

In [34]:
#RANGE FUNCTION :: IT RETURNS A SEQUENCE OF NUMBERS.
#STARTING FROM 0 BY DEFAULT AND INCREMENT BY 1 BY DEFAULT AND STOPS BEFORE A SPECIFIED NUMBER
#  range(start?,stop,step), start and step is optional by default 0,1

In [36]:
#WAP TO PRINT MULTIPLICATION TABLE OF N
n=int(input("ENTER THE NUMBER TO PRINT THE TABLE FOR : "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

ENTER THE NUMBER TO PRINT THE TABLE FOR :  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [37]:
#PASS STATEMENT : : IT IS A NULL STATEMENT THAT DOES NOTHING.
#USED AS A PLACEHOLDER FOR A FUTURE CODE

In [48]:
#WAP TO FIND THE SUM OF FIRST N NUMBERS
a=int(input("ENTER THE NUMBER N : "))
sum=0
for i in range(1,a+1):
    sum+=i
    print(sum)
print("Total sum : ",sum)

ENTER THE NUMBER N :  5

1
3
6
10
15
Total sum :  15

In [60]:
#WAP TO FIND THE FACTORIAL OF THE FIRST N NUMBERS
n=int(input("ENTER THE VALUE FOR N: "))
fact=1
for i in range(1,n+1):
    fact*=i
    print(fact)
print("FACTORIAL OF",n,"is :",fact)

fac=1
k=1
while k<=n:
    fac*=k
    k+=1
    print(fac)
print("FACTORIAL OF",n,"is :",fac)

ENTER THE VALUE FOR N:  5

1
2
6
24
120
FACTORIAL OF 5 is : 120
1
2
6
24
120
FACTORIAL OF 5 is : 120